.App {
  text-align: center;
}

.movie-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
  padding: 0 20px;
  margin-bottom: 20px;
}

.loading{
  margin-top: 150px;
  text-align: center;
}

@media screen and (max-width: 960px){
  .movie-div{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 640px){
  .movie-div{
    grid-template-columns: repeat(1, 1fr);
  }
}

.movie-card{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.app-title{
  background-color: #404258;
  padding: 15px;
  margin-top: 0px;
  color: #fff;
}

.search{
  padding: 10px;
  width: 30%;
  border-radius: 5px 0 0 5px;
  border: 1px solid gray;
  outline: none;
}

.search-button{
  padding: 10px;
  border-radius: 0 5px 5px 0;
  border: 1px solid gray;
}
